@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

:root{
    --color-uno: #5ef4a1;
    --color-dos: #f0f0f0;
    --color-fondo: #1a1a1d;
    --color-fondo-2: #28282b;
}

body{
    background-color: var(--color-fondo);
}

nav{
    display: flex;
    justify-content: center;
    width: 100vw;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	width: 100%;
	justify-content: space-around;
    gap: .2rem;
}

nav ul li {
    background-color: var(--color-fondo-2);
    padding-block: 1rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-uno);
    text-transform: uppercase;
    font-weight: 600;
}

nav ul li a{
    text-decoration: none;
    color: var(--color-uno);
    text-transform: uppercase;
    font-weight: 600;
}

.active-fondo{
    background-color: var(--color-uno);
}

.active-letra{
    color: var(--color-fondo);
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem 2rem;
}

.containerHead{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.containerHead h1{
    color: var(--color-uno);
    font-size: 2rem;
    text-transform: uppercase;
}

.containerHead .monkey{
    max-width: 200px;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.containerDrop{
    border: 2px dashed var(--color-uno);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    max-width: 700px;
    text-align: center;
}

.containerDrop.active{
    background-color: #000;
    color: var(--color-dos);
    box-shadow: 0 0 30px 0px var(--color-uno);
}

.containerDrop h2{
    font-size: 30px;
    letter-spacing: .15rem;
    font-weight: 600;
    color: var(--color-dos);
    margin-bottom: 2rem;
    position: relative;
}

.containerDrop h2::after{
    content: "o también puedes";
    font-size: 1rem;
    position: absolute;
    bottom: -2.1rem;
    right: 30%;
}

.btn_subir,
.btn_limpiar {
    padding: 10px 25px;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    background-color: var(--color-uno);
    color: var(--color-fondo);
    cursor: pointer;
    margin-top: 1rem;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}

.btn_limpiar{
    background-color: var(--color-fondo-2);
    color: var(--color-uno);
}

.btn_subir:hover,
.btn_limpiar:hover,
nav ul li:hover{
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    color: var(--color-fondo);
    box-shadow: 0 0 4px 0px var(--color-uno);
}

.btn_limpiar:hover,
nav ul li:hover{
    color: var(--color-uno);
}

#preview{
    margin-top: 1rem;
    box-shadow: 0 0 10px 0px #000;
}

.file-container{
    display: flex;
    background-color: #222226;
    padding: 1rem 2rem;
}

.file-container p{
    color: rgb(194, 194, 194);
}

/* Estilos conversor */
#drop-area {
    width: 80%;
    height: 500px;
    border: 2px dashed var(--color-uno);
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: .5rem;
    color: var(--color-dos);
    text-transform: uppercase;
    font-weight: 600;
  }

  #drop-area:hover {
      background-color:black;
      opacity: .1;
      color:var(--color-dos);
      cursor: pointer;
  }
  #preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  #preview-container img {
    margin: 10px;
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border: 1px solid var(--color-fondo-2);
  }
  #preview-container {
    margin: 20px;
  }
  #preview-container p {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #preview-container ul {
    list-style: none;
    padding: 0;
    margin: 10px;
  }
  #preview-container li {
    display: inline-block;
    margin-right: 10px;
  }
  #preview-container a {
    background-color: var(--color-uno);
    color: var(--color-fondo);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
  }
  .card {
background-color: var(--color-fondo-2);
border-radius: 5px;
padding: 10px;
margin: 10px;
box-shadow: 0 0 5px rgba(0,0,0,0.2);
}